@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --animate-spin-slow: spin 3s linear infinite;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #ffffff;
}
